:root {
    --lightRed: hsl(0, 100%, 67%);
    --oangeyYellow: hwb(39 12% 0%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);

    --lightRed_b: rgba(255, 87, 87, 0.1);
    --oangeyYellow_b: rgba(255, 176, 31, 0.1);
    --greenTeal_b: rgba(0, 189, 145, 0.1);
    --cobaltBlue_b: rgba(17, 37, 212, 0.1);


    --lightSlateBlue: hsl(252, 100%, 67%);
    --lightRoyalBlue: hsl(241, 81%, 54%);

    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);

    --buttonColor: #303b59;

    --white: #fff;
    --black: #000;
    --gray: #95949b;

    --mainFont: 'Hanken Grotesk', sans-serif;
}

/** Global **/

body {
    min-height: 100vh;
    font-family: var(--mainFont);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** Card **/

.card {
    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 30px;
    background-color: var(--white);
    
    
}

@media (min-width: 530px) {
    .card {
        height: 450px;
        margin: 20px;
        grid-template-columns: 1fr 1fr;
        -webkit-box-shadow: 10px 10px 25px -3px rgba(199,210,219,1);
        -moz-box-shadow: 10px 10px 25px -3px rgba(199,210,219,1);
        box-shadow: 10px 10px 25px -3px rgba(199,210,219,1);
        border-radius: 0;
        margin-bottom: 0;
    }
}

/** Result **/

.result {
    width: 100%;
    background-image: linear-gradient(to bottom, var(--lightSlateBlue), var(--lightRoyalBlue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px 0;
}

@media (min-width: 530px) {
    .result {
        border-radius: 30px;
        padding: 0;
    }
    
}

.result__title {
    font-size: 20px;
    color: var(--white);
    opacity: 0.7;
}

.result__score {
    width: 170px;
    height: 170px;
    background-image: linear-gradient(to bottom, var(--violetBlue), var(--persianBlue));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.result__score--points {
    font-size: 60px;
    font-weight: 800;
    color: var(--white);
    margin: 0;
}

.result__score--total {
    margin: 0;
    color: var(--white);
    opacity: 0.5;
    font-size: 15px;
    margin-top: -5px;
}

.result__word {
    color: var(--white);
    margin-bottom: 0;
}

.result__text {
    color: var(--white);
    opacity: 0.7;
    font-size: 15px;
    padding: 0 50px;
}

/** Summary **/

.summary {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 30px;
    margin: 0;
    padding: 20px 35px;
    text-align: center;
    padding-bottom: 35px;
    gap: 10px;
}

@media (min-width: 530px) {
    .summary {
        gap: 0;
    }
}

.summary__cards {
    padding: 0;
}

.summary__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
}

@media (min-width: 530px) {
    .summary__title {
        margin: 0;
    }
}

.summary__category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px; 
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.summary__category:nth-of-type(1) {
    background-color: var(--lightRed_b);
    color: var(--lightRed);
}

.summary__category:nth-of-type(2) {
    background-color: var(--oangeyYellow_b);
    color: var(--oangeyYellow);
}

.summary__category:nth-of-type(3) {
    background-color: var(--greenTeal_b);
    color: var(--greenTeal);
}

.summary__category:nth-of-type(4) {
    background-color: var(--cobaltBlue_b);
    color: var(--cobaltBlue);
}
.category__title {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.category__title--name {
    margin-left: 10px;
}

.category__title--icon {
    height: 20px;
    width: 20px;
}

.summary__category--score {
    color: var(--black);
    text-align: end;
    margin-right: 10px;
}

.summary__category--score span{
    color: var(--gray);
}

.summary__button {
    padding: 0;
    height: 52px;
    text-decoration: none;
    background-color: var(--buttonColor);
    color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.summary__button:hover {
    background-image: linear-gradient(to bottom, var(--lightSlateBlue), var(--lightRoyalBlue));
}

/** Attribution **/

.attribution {
    font-size: 14px;
}

.attribution a {
    color: var(--lightSlateBlue);
}

.attribution a:hover {
    color: var(--lightRoyalBlue);
}